@tailwind base;
@tailwind components;
@tailwind utilities;



.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}